<html>
<head>
	<center>
		<title>Home Page</title>	
	<center>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>

<h1>Wardrobe</h1>

<body>

<!-- closet menu -->

    <div class="header menu">
    	filter doesn't lead to anything yet but eventually will be a drop down tool<br>
	
        <button type="button"><a href="index">homepage</a></button>
        <button type="button">filter</button>
        <button type="button"><a href="menu.html">menu</a></button>
    </div> 

<br>

<!-- main menu options -->

<!-- eventually i want make this be automatically added, like an array or idk somehow -->

	<div class ="container">

<div class="closet">
	    <div class="closetbody">
	    	this will lead to a photo gallery of things
	  <li>image of shirt 1</li>
	   <li>image of shirt 2</li>
	    <li>img of shirt 3</li>
	     <li>img of shirt 4</li>
	    </div>
	</div>
<br><br>
<div class="outfit">
	<div class="outfitbody">
this will lead to a page of outfits
	  <li>image of outfit 1</li>
	   <li>image of outfit2 2</li>
	    <li>img of outfit3</li>
	     <li>img of outfit4</li>

	</div>
</div>
</div>

<br><br><br><br>
<!-- footer icons -->

<div class="footer">


    <button type="button">  <a href="wardrobe.handlebars"><img src="wbutton.png">wardrobe</a></button>
<button type="button"> <a href="pickoutfit.html"><img src="pobutton.png">pick outfits</a></button>
<button type="button"> <a href="laundry.html"><img src="lbutton.png">laundry</a></button>
    
</body>
</html>
